{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h2 class="text-center">{{ block('title') }}</h2>
  {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
  {% endfor %}

  <div class="well">
  {{ form_start( experienceForm, { 'attr': {'class': 'form-horizontal'} }) }}
      <div class="form-group">
          {{ form_label(experienceForm.title, null, { 'label_attr':  {
              'class': 'col-sm-4 control-label'
          }}) }}
          <div class="col-sm-6">
              {{ form_errors(experienceForm.title) }}
              {{ form_widget(experienceForm.title, { 'attr':  {
                  'class': 'form-control'
              }}) }}
          </div>
      </div>
      <div class="form-group">
          {{ form_label(experienceForm.content, null, { 'label_attr':  {
              'class': 'col-sm-4 control-label'
          }}) }}
          <div class="col-sm-6">
              {{ form_errors(experienceForm.content) }}
              {{ form_widget(experienceForm.content, { 'attr':  {
                  'class': 'form-control',
                  'rows': '8'
              }}) }}
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-4 col-sm-3">
              <input type="submit" class="btn btn-primary" value="Save" />
          </div>
      </div>
  {{ form_end( experienceForm ) }}
  </div>
{% endblock %}
