{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<<<<<<< HEAD
  <h1>Hello</h1>
  {% for article in articles %}
    <article>
        <h2><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></h2>
        <p>{{ article.content }}</p>

    </article>
  {% endfor %}
  {% for experience in experiences %}
    <article>
        <h2><a class="articleTitle" href="{{ path('experience', { 'id': experience.id }) }}">{{ experience.title }}</a></h2>
        <p>{{ experience.content }}</p>
    </article>
  {% endfor %}

=======
{% for article in articles %}
<article>
    <h2><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></h2>
    <p>{{ article.content }}</p>
</article>
{% endfor %}
>>>>>>> master
{% endblock %}
